/*Primary*/
$purple: hsl(259, 100%, 65%);
$errorColor:hsl(0, 100%, 67%);

/*Secondary*/
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);

/*Mixins*/
@mixin centerDisplay{
    display: flex;
    align-items: center;        /*vertical alignment*/
    justify-content: center;    /*horizontal alignment*/
}
@mixin width-height($width, $height){
    width: $width;
    height: $height;
}
@mixin font-settings($family, $size, $weight){
    font: {
        family: $family;
        size: $size;
        weight: $weight;
    }
}
@mixin flexDirection($flex, $direction){
    display: $flex;
    flex-direction: $direction;
}

/*TTF files*/
@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

.main-container{
    color: rgb(131, 131, 131);    
    background-color: $white;
    @include centerDisplay();
    @include width-height(auto, 100vh);

    .second-container{
        background-color: $offWhite;
        @include centerDisplay();
        @include flexDirection(flex, column);
        @include width-height(90%, auto);
        min-height: 80vh;
        box-shadow: 10px 10px 20px $lightGrey;

        .inner-container{
            background-color: $white;
            //@include width-height(65%, auto);
            min-height: 60vh;
            border-radius: 10px 10px 150px 10px;

            .container-input-output{
                @include flexDirection(flex, column);
                padding: 7% 7% 0 7%;

                .date-input{
                    position: relative;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1vw;
                    border-bottom: solid 1px $lightGrey;

                    .individual-date-input{
                        @include flexDirection(flex, column);
                    }
                    .individual-date-input>label{
                        @include font-settings('Poppins-Regular', 0.8rem, 700);
                        letter-spacing: 3px;
                        margin-bottom: 5px;
                    }
                    .individual-date-input>input{
                        border: 1px solid $lightGrey;
                        border-radius: 5px;
                        padding-left: 10px;
                        @include font-settings('Poppins-Bold', 1.9rem, 700);
                        @include width-height(9rem, 4rem);
                    }
                    .individual-date-input .error-message{
                        color: $errorColor;
                        @include font-settings('Poppins-Italic', 0.7rem, 700);
                    }
                }
            }

            .output-container{
                padding: 0 7%;
                @include flexDirection(flex, column);

                .date-output-ymd-container{
                    @include flexDirection(flex, row);
                }
                .date-output-ymd-container>p{
                    @include font-settings('Poppins-ExtraBoldItalic', 5rem, 800);
                    color: $offBlack;
                    margin: 0;
                }
                .date-output-ymd-container>.state-ymd {
                    color: $purple;
                }
            }
        }
    }
}


.error-input{
    color: $errorColor;
}
#submit{
    @include width-height(5rem, 5rem);
    align-items: end;
    border-radius: 50%;
    background: {
        color: $purple;
        image: url('./assets/icon-arrow.svg');
        repeat: no-repeat;
        position: center center;
    }
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover{
    background-color: $offBlack;
}

.submit-div{
    position: absolute;
    right: 0;
    bottom: -2.5rem;
}

//Media Queries

@media screen and (max-width: 768px){
    #submit{
        @include width-height(3rem, 3rem);
        background-size: 60% 60%;
    }
    .submit-div{
        position: absolute;
        right: 42%;
        bottom: -1.7rem;
    }
    .main-container {
        .second-container {
            width: 100%;
            .inner-container{
                min-height: auto;
                border-radius: 10px 10px 100px;
                .container-input-output{
                    .date-input{
                        height: 100px;
                        .individual-date-input > input {
                            @include width-height(4rem, 2rem);
                            font-size: 1rem;
                        }
                        .individual-date-input > label {
                            font-size: 0.6rem;
                        }
                        .individual-date-input .error-message{
                            @include font-settings('Poppins-Italic', 0.4rem, 700);
                        }
                    }
                }
                .output-container{
                    margin-top: 40px;   
                    padding: 0 0 0 7%;                 
                    .date-output-ymd-container>p{
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px){ 
    .main-container{
        .second-container {
            .inner-container{
                min-height: auto;
            }
        }
    }
}